html,
body {
    background-color: #666666;
}
form {
    width: 350px;
    background-color: black;
    color: white;
    overflow: hidden;
    padding: 5px;
}
.text_entry {
    background-color: #c9c9c9;
    width: 90%;
    margin-left: 5%;
    border: none;
    text-decoration: none;
    font-size: 12px;
}
.button {
    background-color: #666666; /* Gray */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.float_left {
    float: left;
    margin-right: 10px;
}
.float_right {
    float: right;
    margin-left: 10px;
}
.center {
    margin: auto;
    padding: 10px;
}